html {
	box-sizing: border-box;
}
body {
	font-family: nunito;
	overflow-x: hidden;
	background-image: url(../image/bg/bg.png);
	background-position: center;
	background-size: cover;
	background-color: #ececec;
	height: 100vh;
	background-attachment: fixed;
}

*,*:before,*:after{
	margin: 0;
	padding:0;
	box-sizing: inherit;
}

.wrapper {
	width: 100%;
	max-width: 1366px;
	margin: 0 auto;
}

.wrapper:after,.wrapper:before,
.row:after,.row:before {
	display: table;
	content: "";
}

.row:after,.wrapper:after {clear: both;}

[class*='col-']{
	width: 100%;
	float: left;
}


@media screen and (min-width: 320px){
	.col-sm-1{width:8.33% }
	.col-sm-2{width:16.66% }
	.col-sm-3{width:25% }
	.col-sm-4{width:33.33% }
	.col-sm-5{width:41.66% }
	.col-sm-6{width:50% }
	.col-sm-7{width:58.33%}
	.col-sm-8{width:66.66%}
	.col-sm-9{width:75%;}
	.col-sm-10{width:83.33%}
	.col-sm-11{width:91.66%}
	.col-sm-12{width:100%}
}
@media screen and (min-width: 640px){
	.col-md-1{width:8.33% }
	.col-md-2{width:16.66% }
	.col-md-3{width:25% }
	.col-md-4{width:33.33% }
	.col-md-5{width:41.66% }
	.col-md-6{width:50% }
	.col-md-7{width:58.33%}
	.col-md-8{width:66.66%}
	.col-md-9{width:75%;}
	.col-md-10{width:83.33%}
	.col-md-11{width:91.66%}
	.col-md-12{width:100%}
}

@media screen and (min-width: 960px){
	.col-lg-1{width:8.33% }
	.col-lg-2{width:16.66% }
	.col-lg-3{width:25% }
	.col-lg-4{width:33.33% }
	.col-lg-5{width:41.66% }
	.col-lg-6{width:50% }
	.col-lg-7{width:58.33%}
	.col-lg-8{width:66.66%}
	.col-lg-9{width:75%;}
	.col-lg-10{width:83.33%}
	.col-lg-11{width:91.66%}
	.col-lg-12{width:100%}
}

.wrap-center {
	width: 100%;
	max-width: 1050px;
	margin: auto;
}

.bg-menu {
	margin: 0;
}

.menu {
	margin: 1.7rem 0;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	float: right;
}

nav ul li.logo {
	float: left;
	font-size: 1.2em;
	margin-top: -.2rem;
}

nav ul li a {
	padding: 1rem 0;
	display: inline-block;
	color: #333;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	padding-left: 35px;
}

nav ul li a:hover{
	color: #2196f3;
}

.blue{
	color: #2196f3;
}

.bg-card {
	margin: 5% auto;
	width: 100%;
	min-height: 680px;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0px 2px 1px rgba(0,0,0, 0.16);
}

.bg-profile {
	min-height: 300px;
	background-color: #2196f3;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background-image: url(../image/bg/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-photo {
	margin-top: 12%;
}

.bg-photo img {
	width: 100%;
	border: 4px solid #fff;
	box-shadow: 0 4px 1px rgba(0,0,0,0.16);
}

.wrap-card {
	width: 92%;
	margin: auto;
}

.heading-profile {
	text-align: center;
}

.heading-profile h1 {
	color: #fff;
	padding-top: 12%;
	font-size: 3em;
	font-weight: 900;
}

.heading-profile p {
	padding-top: .9rem;
	color: #fff;
	font-size: 1.3em;
}

p.icon {
	margin-top: 2%;
}

p.icon i{
	width: 35px;
	height: 35px;
	background-color: #fff;
	padding: .6rem 0;
	color: #333;
	border-radius: 50%;
	font-size: .7em;
	margin: 0 .2rem;
	transition: .7s;
}

p.icon i:hover {
	cursor: pointer;
	background-color: #00a8ff;
	color: #fff;
}

.text-profile {
	padding: 1rem .7rem;
}

.text-profile h1 {
	color: #333;
	padding-bottom: .7rem;
}

.text-profile p {
	color: #666;
	font-size: .9em;
	line-height: 1.7;
}

.btn-download {
	margin-top: 4%;
	padding: .7rem 1rem;
	text-transform: uppercase;
	background-color: #fff;
	border: 1px solid #ececec;
	font-weight: bold;
	box-shadow: 0 2px 1px  rgba(0,0,0,0.16);
	cursor: pointer;
	transition: .7s;
}

.btn-download:hover {
	background-color: #333;
	color: #fff;
	border: 1px solid #333;
}

.text-right {
	padding: .5rem .7rem;
}

.text-right ul {
	list-style-type: none;
}

.text-right ul li {
	line-height: 1.9;
	color: #333;
}

.grey ul li {
	color: #666;
}

.bg-blue {
	background-color: #2196f3;
	color: #fff;
	padding: .2rem .7rem;
}

.bg-barcode {
	width: 120px;
	height: 120px;
	background-color: green;
	float: right;
}

.bg-barcode img {
	width: 100%;
	border: 1px solid #ececec;
	box-shadow: 0 2px 1px rgba(0,0,0,0.16);
}

.bg-footer {
	padding: 1rem 0;
	text-align: center;
}

.bg-footer p {
	color: #333;
}

@media screen and (max-width: 720px){
	.bg-card {
		padding-bottom: 2rem;
		height: 1350px;
	}

	.bg-barcode {
		display: none;
	}

	.heading-profile h1 {
		color: #333;
	}

	.heading-profile p {
		color: #333;
	}

	p.icon i {
		background-color: #333;
		color: #fff;
	}

	.text-profile {
		padding: 2rem 0;
		text-align: center;
	}

}

#navbar{
	/*	background-color: #333;*/
		overflow: hidden;
		border: 2px solid #fff;
		transition: .7s;
	}
	#navbar a{
		float: right;
		display: block;
		padding: 20px;
		color: #333;
		text-decoration: none;
		font-weight: bold;
	
	}
	#navbar logo{
		float: left;
	}
	#navbar a:hover{
		background-color: #ddd;
		color: #11557D;
	}

	.sticky{
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #f1f1f1;
	}